<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cerberus.LogAnalyser.Properties.Settings.Cerberus_FastTrackConnectionString"
            connectionString="Data Source=oslivm101;Initial Catalog=cerberus;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>