<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Localization.LocSolutions.Cerberus.Configurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Localization.LocSolutions.Cerberus.Configurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Microsoft.Localization.LocSolutions.Cerberus.Configurator.Properties.Settings>
            <setting name="DatabaseLocation" serializeAs="String">
                <value>c:\Users\Artur\Programming\Cerberus\Configuration.xml</value>
            </setting>
            <setting name="AssemblyResolvePaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>%OTOOLS%\bin\intl\OSLEBot\Exec</string>
                        <string>%OTOOLS%\bin\lsbuild6.0</string>
                        <string>en-US</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Microsoft.Localization.LocSolutions.Cerberus.Configurator.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Microsoft.Localization.LocSolutions.Cerberus.Configurator.Properties.Settings>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainWindowsHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainWindowX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainWindowY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="EnvironmentVariablesForNewChecks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>OTOOLS</string>
                        <string>BUILDROOT</string>
                        <string>INTL_TOOLS</string>
                        <string>SRCROOT</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Microsoft.Localization.LocSolutions.Cerberus.Configurator.Properties.Settings>
    </userSettings>
</configuration>