<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Localization.LocSolutions.Cerberus.Executor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Microsoft.Localization.LocSolutions.Cerberus.Executor.Properties.Settings>
            <setting name="SupportDetails" serializeAs="String">
                <value>LocSolutions Support (lssup@microsoft.com)</value>
            </setting>
            <setting name="DocumentationLink" serializeAs="String">
                <value>http://tfsvm05/Sites/Office Cerberus/default.aspx</value>
            </setting>
            <setting name="ChecksRelativePath" serializeAs="String">
                <value>otools\bin\intl\Cerberus\Checks</value>
            </setting>
        </Microsoft.Localization.LocSolutions.Cerberus.Executor.Properties.Settings>
    </applicationSettings>
</configuration>